<html>
    <body>
        <form action="/updateemp" method="post">
            Employee id: <input type="text" name="empid" id="empid" value="<%=emp.empid %>" readonly><br>
            Employee Name: <input type="text" name="ename" id="ename" value="<%=emp.ename %>"><br>
            Employee Salary: <input type="text" name="sal" id="sal" value="<%=emp.sal %>"><br>
            <button type="submit" name="btn" id="btn" value="add">update new Employee</button>
        </form>
    </body>
</html>